<h2 id="portfolio">portfolio</h2>

<article>
    <h3><a href="http://staplegun.us/">Staplegun</a></h3>
    <ul>
        <li ng-repeat="link in staplegun"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3><a href="http://oklahomawatch.org/">Oklahoma Watch</a></h3>
    <ul>
        <li ng-repeat="link in okwatch"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>private sites</h3>
    <ul>
        <li ng-repeat="link in private"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>private templates</h3>
    <ul>
        <li ng-repeat="link in privatetemp"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3><a href="http://routes.ou.edu/">Routes</a></h3>
    <ul>
        <li ng-repeat="link in routes"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>journalism master's research</h3>
    <ul>
        <li ng-repeat="link in masters"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3><a href="http://wandering-blog.blogspot.com/">Politically Scientific</a></h3>
    <ul>
        <li ng-repeat="link in politically"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>talks</h3>
    <ul>
        <li ng-repeat="link in talks"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>resume</h3>
    <ul>
        <li ng-repeat="link in resume"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>

<article>
    <h3>accolades</h3>
    <ul>
        <li ng-repeat="link in accolades"><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
</article>
